@page "/login"
@using TicketingSystem.Lib.Security
@inject UserSessionAuthenticationStateProvider UserSessionAuthenticationStateProvider
<h3>Login</h3>
<button type="button" class="btn btn-success" @onclick="LoginAsync">Login</button>

@code {
    public async Task LoginAsync()
    {
        await UserSessionAuthenticationStateProvider.Login("admin@gmail.com", "123");
    }
}